
<!DOCTYPE html>
<html lang="fa" data-textdirection="rtl" dir="rtl">
<!-- BEGIN: Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/x-icon" href="/admin/images/ico/favicon.ico">
    <meta name="theme-color" content="#5A8DEE">
    
    @*//Date Picker*@
    <link rel="stylesheet" type="text/css" href="/admin/vendors/css/pickers/pickadate/pickadate.css">
    <link rel="stylesheet" type="text/css" href="/admin/vendors/css/pickers/daterange/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="/admin/vendors/css/pickers/datepicker-jalali/bootstrap-datepicker.min.css">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/admin/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/admin/vendors/css/charts/apexcharts.css">
    <link rel="stylesheet" type="text/css" href="/admin/vendors/css/extensions/swiper.min.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="/admin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/admin/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="/admin/css/colors.css">
    <link rel="stylesheet" type="text/css" href="/admin/css/components.css">
    <link rel="stylesheet" type="text/css" href="/admin/css/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="/admin/css/themes/semi-dark-layout.css">
    <!-- END: Theme CSS-->
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/admin/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/admin/css/pages/dashboard-ecommerce.css">
    <!-- END: Page CSS-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/admin/css/Custom.css" asp-append-version="true">
    
    <link rel="stylesheet" type="text/css" href="/admin/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="/admin/vendors/css/tables/datatable/responsive.bootstrap.min.css">
    
    @await RenderSectionAsync("Meta",false)

</head>
<!-- END: Head-->
<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern semi-dark-layout 2-columns  navbar-sticky footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="semi-dark-layout">

    <!-- BEGIN: Header-->
    <partial name="_Header" />
    <!-- END: Header-->
    <!-- BEGIN: Main Menu-->
    <partial name="_SideBar" />
    <!-- END: Main Menu-->
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
            @RenderBody()
            </div>
        </div>
    </div>
    <!-- END: Content-->

  
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <div class="modal fade" id="defaultModal" tabindex="-1" aria-labelledby="addAddressModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAddressModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                     
                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN: Vendor JS-->
    <script src="/admin/vendors/js/vendors.min.js"></script>
    <script src="/admin/fonts/LivIconsEvo/js/LivIconsEvo.tools.min.js"></script>
    <script src="/admin/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js"></script>
    <script src="/admin/fonts/LivIconsEvo/js/LivIconsEvo.min.js"></script>
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <script src="/admin/vendors/js/charts/apexcharts.min.js"></script>
    <script src="/admin/vendors/js/extensions/swiper.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="/admin/js/scripts/configs/vertical-menu-dark.js"></script>
    <script src="/admin/js/core/app-menu.js"></script>
    <script src="/admin/js/core/app.js"></script>
    <script src="/admin/js/scripts/components.js"></script>
    <script src="/admin/js/scripts/footer.js"></script>
    <script src="/admin/js/scripts/customizer.js"></script>
    
    @*//Date Picker*@
    <script src="/admin/vendors/js/pickers/daterange/daterangepicker.js"></script>
    <script src="/admin/vendors/js/pickers/datepicker-jalali/bootstrap-datepicker.min.js"></script>
    <script src="/admin/vendors/js/pickers/datepicker-jalali/bootstrap-datepicker.fa.min.js"></script>
    
    @*Tables*@
    <script src="/admin/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="/admin/vendors/js/tables/datatable/dataTables.bootstrap4.min.js"></script>

    <!-- END: Theme JS-->
    <script src="/admin/js/scripts/pickers/dateTime/pick-a-datetime.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/global/global.js" asp-append-version="true"></script>
    <script src="/admin/js/custom.js" asp-append-version="true"></script>
    <partial name="Shared/_ValidationScriptsPartial"/>
    <script src="/admin/Global/clientValidation.js"></script>
    <div id="token-value">
        @Html.AntiForgeryToken()
    </div>
    @await RenderSectionAsync("Scripts",false)
</body>
<!-- END: Body-->
</html>
